*{ 
    margin:0px;
    box-sizing:border-box;
}
body{
    background-image: url(../img/forest.jpg);
    
    background-repeat: no-repeat;
}

nav{
    background-color: white;
    opacity: 68%;
    top:0%;
    height:10%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    
}
#head1{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    margin:  0.625em;
    margin-bottom: 0px;
    
}
#head1 img{
height:90%;
}
#head2{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    margin:1.25em;
    margin-bottom: 0px;
    
}    
#head2 h6{
    margin-left:1.25em;
}

nav a{
    color:#707070;
    text-decoration-line: none;
    font-size: 2.25em;
}
.dropbtn {
    background-color: white;
    color: #707070;
    border: none;
    font-size: 3.5em;
    margin:0px;
    
  }
.dropdown {
    position: relative;
    display: inline-block;
    
    text-decoration-line: none;
    font-size: 0.75em;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 0.75em;
}  

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding:0.625em;
    font-size :1.5em;
    text-decoration: none;
    display: block;
  }
body{
    min-height: 100vh;
    width:100%;
}
#block{
    position: absolute;
    z-index: -1;
    background-color: white;
    margin-top:0px;
    margin-left:60%;
    margin-bottom:0%;
    height:48.75em;
    width:40%;
    text-align: center;
    opacity:90%;
}
#dog{
    position: absolute;
    left:5%;
    bottom:5%;
}
p{
    text-align: center;
    margin: 10%;
    font-family: calluna, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.75em;
}
@media screen and (max-width:600px){
    #block{
        margin-left: 0%;
        width:100%;
        z-index:2;
    }
    #dog{
        z-index: 1;
    }
}