*{ 
    margin:0px;
    
}
body{
    background-image: url(../img/forest.jpg);
    
    background-repeat: no-repeat;
}

nav{
    background-color: white;
    opacity: 68%;
    top:0%;
    height:10%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
}
#head1{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
    margin-bottom: 0px;
}
#head1 img{
    height:90%;
    }
#head2{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    margin:20px;
    margin-bottom: 0px;
}    
#head2 h6{
    margin-left:20px;
}

nav a{
    color:#707070;
    text-decoration-line: none;
    font-size: 36px;
}
.dropbtn {
    background-color: white;
    color: #707070;
    border: none;
    font-size: 24px;
    margin:0px;
    
  }
.dropdown {
    position: relative;
    display: inline-block;
    color:black;
    text-decoration-line: none;
    font-size: 12px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 12px;
}  

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding:10px;
    font-size :24px;
    text-decoration: none;
    display: block;
  }
img{
    width:70%

}
#block{
    position: absolute;
    z-index: -1;
    background-color: white;
    margin:0%;
    height:780px;
    width:100%;
    text-align: center;
    opacity:90%;
}
.part1{
    display: flex;
    justify-content: center;
}

.words1{
    margin:80px;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}
.words2{
    font-size: 24px;
    text-align: center;
    width:60%;
    margin:80px;
    border: 2px solid #707070;

    font-family: calluna, serif;
    font-style: normal;
    font-weight: 300;
}


